# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives**:
* Creating markdown cells
* List of commonly used libraries for Data Scientists
* List popular languages for Data Science
* Introduction to arithmetic expression

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn Pandas
4. Keras

###### Some of the popular languages that Data Scientists use are:
###### 1. Python
###### 2. R
###### 3. SQL
###### 4. Java

### Create a single column table in this cell with the first row containing the header Data Science Tools

| Data Science Tools |
| -------------|
|IBM Waston Studio|
|RStudio|
|Jupyter Lab|

### Below are a few examples of evaluating arithmetic expressions in Python
1. Addition +
2. Subtraction -
3. Multiplication *
4. Division /

In [12]:
# multiply and add numbers
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#  converts 200 minutes into hours
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Malefyane